{%extends "layout.html" %}

{%block title%}
EduPro - free Python courses
{%endblock%}

{%block content%}
	<div class="index_page shadowed">
		<div class="greeting">
			<h1>Click. Create. Enjoy.</h1>
		</div>
		<div class="columns">
            {% if courses %}
            {% for course in courses %}
                <div class="course">course</div>
            {% endfor %}
            {% else %}
			    <p>Here you can find courses to learn Python programming language!</p>
            {% endif %}
		</div>

	</div>
{%endblock%}
