{%extends "layout.html" %}

{%block title%}
Team
{%endblock%}

{%block content%}

<div class="shadowed p-3 mt-2 mb-5">
    <div class="container-fluid">
        <div class="row justify-content-center m-5">
            <div class="col-2">
            <img class="float-end" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1024px-Python-logo-notext.svg.png"
    width="100" height="100">
            </div>
            <div class="col-3 align-self-center">
                <h2 class="course-title"><a href="python">Python Lessons</a></h2>
            </div>
        </div>
        <div class="row justify-content-center m-5">
            <div class="col-2">
                <img class="float-end" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1822px-ISO_C%2B%2B_Logo.svg.png" width="100" height="100">
            </div>
            <div class="col-3 align-self-center">
                <h2 class="course-title"><a href="cpp">C++ Lessons</a></h2>
            </div>
        </div>
    </div>
</div>
{%endblock%}